{% extends "wafer/base.html" %}
{% load static from staticfiles %}
{% load compress %}

{% block wafer_css %}
  {% compress css %}
    <link type="text/x-scss" href="{% static 'stylesheet.scss' %}" rel="stylesheet" />
  {% endcompress %}
{% endblock %}

{% block extra_head %}
<meta property="og:title" content="{{page.name}}" />
<meta property="og:site_name" content="{{WAFER_CONFERENCE_NAME}}"/>
<meta property="og:description" content="{{SITE_DESCRIPTION}}" />
<meta property="og:image" content="{% static "img/logo.png" %}" />
<meta name="description" content="{{SITE_DESCRIPTION}}">
<meta name="author" content="{{SITE_AUTHOR}}">
{% endblock %}

{% block wafer_js %}
<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
{% endblock %}
